:root {
  --main-bg-color: #0c0c0c;
  --main-fg-color: #c5c5c5;
  --main-heading-color: #d3d3d3;

/* Cannot use these as normal variables, tobe used for reference */
  --screen-sm: 420px;
  --screen-md: 980px;
  --screen-lg: 1200px;
  --screen-xl: 1920px;
}

body {
  color: var( --main-fg-color );
  font-size: 16px;  
}

body, 
menu {
  margin: 0;
  padding: 0;
}

menu {
  margin: 1rem;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  color: var( --main-heading-color );
}

.app {
  background-color: var( --main-bg-color );
  
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and ( min-width: 980px ) { /* screen-md */
  .app {
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and ( min-width: 1200px ) { /* screen-lg */
  .app {
    grid-template-columns: 1fr 4fr;
  }
}

.side-menu {
  border-right: 1px solid var( --main-fg-color );
}
